.add-dog-container {
    position: relative; /* Needed for absolute positioning of children */
    padding: 10px;
  }
  
  .submit-button-container {
    position: absolute;
    right: 10px; /* Adjust as necessary */
    top: 10px; /* Adjust as necessary */
    z-index: 100; /* Ensure it's above other content */
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:hover {
    background-color: #e63900;
  }

  
