.dog-list {
    background-image: url('../../public/images/paw-pattern.png'); /* Assuming the root is the public directory */
    background-repeat: repeat-y;
    background-position: bottom right;
    padding: 20px;
}

.dog-item {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space elements to start and end */
    align-items: center; /* Align items vertically */
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.dog-item:hover {
    border-color: #ffcc00;
}

.add-dog-link {
    display: inline-block;
    background-color: #ff4500; /* Vibrant orange color */
    color: white; /* White text for contrast */
    padding: 10px 20px; /* Padding for a larger button */
    text-align: center;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold font for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.add-dog-link:hover {
    background-color: #ff4500; /* Darker shade on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}

.h1-title {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    background-size: cover;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-size: 50px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    color: #e63900;
    text-shadow: 2px 2px 8px rgba(0,0,0,0);
}

.delete-button {
    margin-left: auto; /* This will push the button to the far right */
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #ff4500; /* Optional: add a background color */
    color: white; /* Optional: change text color */
    border: none;
    cursor: pointer;
}
