.add-dog-container {
  position: relative;
  padding: 10px;
  text-align: left; /* Align text to the left */
}

.form-row {
  margin-bottom: 15px;
}

.short-select {
  width: 200px; /* Adjust the width as needed */
}

.submit-button-container {
  text-align: right;
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
  background-color: #e63900;
}
