@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* General Styling for Dog List Page */
.dog-list {
  padding: 20px;
  background-color: #f9f9f9;
}

/* Title Container Styling */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

/* Title Styling */
.h1-title {
  margin-right: 20px; /* Add some space between the title and the image */
  font-size: 50px;
  font-weight: bold;
  color: #ff4500;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Dog Head Image Styling */
.dog-head-image {
  width: 100px; /* Make the image larger */
  height: auto;
}

/* Header Actions */
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Add Dog Button Styling */
.add-dog-link {
  background-color: #ff4500;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-dog-link:hover {
  background-color: #ff4500;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Dog Count Styling */
.dog-count {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

/* List Styling */
ul {
  list-style: none;
  padding: 0;
}

/* Individual Dog Item Styling */
.dog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dog-item:hover {
  border-color: #ffcc00;
}

/* Link Styling */
.dog-link {
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
  display: flex;
}

/* Dog Item Content Styling */
.dog-item-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dog-name {
  margin-right: auto;
  font-weight: bold;
  color: #000;
}

.dog-breed {
  margin-left: auto;
  margin-right: 10px;
  color: grey;
}

/* Delete Button Styling */
.delete-button {
  background-color: transparent;
  color: #ff4500;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  color: #ff4500;
}

/* Dropdown Menu Styling */
.header-right {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ff4500;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background-color: white;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ff4500;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff4500;
}
