.add-dog-container {
    position: relative; /* Needed for absolute positioning of children */
    padding: 10px;
  }
  
  .submit-button-container {
    position: absolute;
    right: 10px; /* Adjust as necessary */
    top: 10px; /* Adjust as necessary */
    z-index: 100; /* Ensure it's above other content */
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:hover {
    background-color: #e63900;
  }

  .form-group {
    margin-bottom: 15px; /* Adds space between each form group */
  }
  
  .form-group label {
    margin-bottom: 5px; /* Space between the label and the input field */
  }
  
  .input,
  select {
    width: 100%; /* Makes the input take full width of its parent */
    padding: 8px;
    margin-bottom: 10px; /* Adds space below each input */
  }
  
  .submit-button-container {
    text-align: right; /* Aligns the submit button to the right */
    margin-bottom: 20px; /* Space below the submit button */
  }
  
