.dog-detail-container {
    padding: 20px;
  }
  
  .edit-button, .submit-button {
    background-color: #e63900;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #008CBA;
  }
  
  .form-row {
    margin-bottom: 10px;
  }
  
  .breed-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .breed-info-table {
    margin-top: 20px;
  }
  
  .breed-info-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .breed-info-table th,
  .breed-info-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .breed-info-table th {
    background-color: #f2f2f2;
  }

  .back-button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .back-button:hover {
    background-color: #bbb;
  }